body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 15px 60px;
    border-radius: 20px;
}
.about-me{
    background-image: url(7.png);
    background-repeat: no-repeat;
}
.middle{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.items{
    box-shadow: 10px 10px 20px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
}
.position{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20%;
    border-radius: 10px;
}
.item1{
    box-shadow: 10px 10px 20px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
}
footer{
    text-align: center;
    background-color: black;
    border:0px;
}
#adjust{
    font-size: 30px;
}
#adjust1{
    color: gray;
}
#adjust2{
    color: white;
}
#sub1{
    text-align: left;
}
#sub2{
    text-align: center;
}
#sub3{
    text-align: right;
}